:root {
  /* Color palette */
  --header-bg-color: #dcdcdc;
  --search-bar-color: #30ecf2;
  --button-color: #17a2ff;
  --sidebar-bg-color: #0080ff;
  --sidebar-text-color: #fcfcfc;
  --repo-box-color: #d65c5c;
  --post-grid-bg-color: #ff00ffa4;
  --post-subreddit-color: #000000;
  --post-title-color: #000000;
  --favorite-grid-bg-color: #ff00ffa4;
  --favorite-link-color: #ff0000;
  --favorite-link-hover-color: #ff0000;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;

  font-family: "Roboto", sans-serif;
}

.header {
  padding: 20px;
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  background-color: var(--header-bg-color);
  box-shadow: 0 0 15px 0 #00000023;
}

.header-searchContainer {
  display: flex;
  align-items: center;
}

.header-searchIcon {
  transform: scale(0.6);
}

.header-searchInput {
  flex: 1;
  margin: 0px 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--search-bar-color);
  height: 40px;
  padding-left: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.header-profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.header-profileIconSmall,
.header-notificationIcon {
  transform: scale(0.6);
}

.header-welcomeContainer {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
}

.header-profileIconLarge {
  margin-top: 15px;
  grid-row: 1 / 3;
  width: 100px;
}

.header-welcomeTextSmall {
  margin: 40px 10px 0px;
  font-weight: 600;
}

.header-welcomeTextLarge {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 600;
}

.header-buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.header-actionButtons {
  background-color: var(--button-color);
  color: var(--sidebar-text-color);
  border-radius: 20px;
  border: none;
  width: 6rem;
  height: 2rem;
  font-weight: 600;
  font-size: 1rem;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  background: var(--sidebar-bg-color);
}

.sidebar-links {
  display: flex;
  align-items: center;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--sidebar-text-color);
}

.sidebar-links img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(134deg)
    brightness(112%) contrast(101%);
}

.sidebar-links span {
  margin: 0 10px;
}

.sidebar-links:not(:nth-child(1)) img {
  transform: scale(0.8);
}

.sidebar-links:nth-child(1) {
  margin-bottom: 40px;
  font-size: 1.5rem;
}

.sidebar-links:nth-child(7) {
  margin-bottom: 40px;
}

.mainContent {
  padding: 20px;
  display: grid;
  grid-template: auto 1fr / 4fr 1fr;
}

.mainContent-repos {
  margin-right: 20px;
  grid-row: 1 / 3;
}

.mainContent-sectionTitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.mainContent-repoGrid {
  height: 97%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

.mainContent-repoBox {
  background-color: var(--repo-box-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #00000023;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainContent-repoName {
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #0077CC;
}

.mainContent-repoDescription {
  padding: 10px 20px;
}

.mainContent-repoLink {
  color: #0077CC;
  text-decoration: none;
  margin-top: auto;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 128, 0, 0.202);
}

.mainContent-repoLink:hover {
  color: #006699;
}

.mainContent-trendingPostGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--post-grid-bg-color);
  border-radius: 10px;
  padding: 10px;
}

.mainContent-trendingPostItem {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
}

.mainContent-trendingPostThumbnail {
  grid-row: 1 / 3;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.mainContent-trendingPostSubreddit {
  text-decoration: none;
  color: var(--post-subreddit-color);
}

.mainContent-trendingPostLink {
  text-decoration: none;
  color: var(--post-title-color);
}

.mainContent-trendingPostLink:hover {
  color: var(--post-title-hover-color);
}

.mainContent-favorite h2 {
  margin-top: 10px;
}

.mainContent-favoriteGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--favorite-grid-bg-color);
  border-radius: 10px;
  padding: 10px;
}

.mainContent-favoriteItem {
  display: flex;
  align-items: center;
}

.mainContent-favoriteIcon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.mainContent-favoriteLink {
  text-decoration: none;
  color: var(--favorite-link-color);
}

.mainContent-favoriteLink:hover {
  color: var(--favorite-link-hover-color);
}

@media only screen and (max-width: 600px) {
  .sidebar-links span {
    display: none;
  }

  .sidebar-links {
    justify-content: center;
  }
}